<% include partials/header %>
<h1>You fell in love with <%= lover %></h1>

<% if(lover === 'rusty') { %>
<p>Great! Rusty is a great choice!</p>
<% } else { %>
<p>This was your last mistake. You should have chosen Rusty</p>
<% } %>

<p>This is love.ejs</p>
<% include partials/footer %>