body {
  font-family: 'Source Sans Pro';
  margin: 0;
  padding: 0;
}
h2,
h4 {
  margin: 0;
  padding: 0;
}
p {
  font-weight: 400;
}
section {
  border: #bdc3c7 solid 20px;
  box-sizing: border-box;
  margin: 20px auto;
  max-width: 1050px;
  padding: 20px;
  width: 90%;
}
.date {
  color: #3498db;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.title {
  color: #2c3e50;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}
.firstPar {
  border-left: #bdc3c7 solid 7px;
  padding-left: 10px;
}
.articlePar {
  font-size: 16px;
  margin-bottom: 15px;
}
.lastPar {
  border-bottom: #bdc3c788 1px solid;
  padding-bottom: 15px;
}
