#main-pattern {
  background: url(../images/header.jpeg) center center / cover;
}
.img-container {
  overflow: hidden;
}
.card-img {
  overflow: hidden;
  transition: all 200ms ease;
}
.card-img:hover {
  transform: scale(1.25);
}
